* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
    --white-color: #fff;
    --black-color: #000;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}

/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    line-height: var(--height);
    height: var(--height);
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, .7);
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: var(--white-color) !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--white-color);
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.section-label {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
    margin-bottom: 15px;
}

/* ============== Header ============== */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.navbar__link:hover,
.header-action__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* ============== Hero ============== */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 3px solid var(--white-color);
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: #FAA7AD;
}

.hero__img-small {
    width: 182px;
    height: 276px;
    object-fit: cover;
}

.hero__list {
    position: absolute;
    left: 129px;
    bottom: 0;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #FEC23F;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #181E52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    border-radius: 99px;
    background: #F2F2F2;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #C6E2FA;
}

.hero__content {
    /* width: 44%;   */
}

.hero__heading {
    width: 517px;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}

.hero__cta-link {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}

/* ============== About ============== */
.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__desc,
.about__heading {
    width: 444px;
}

.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    color: #48496A;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check-item::after {
    position: absolute;
    content: url(../icons/check.svg);
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    text-align: center;
    background: #5BD6E2;
    border-radius: 10px;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-title {
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: var(--white-color);
}

.about__card-desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #C6F4F9;
}

.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 336px;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
    object-fit: cover;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-wrap-bottom::after {
    content: none;
}

.about__img-bottom {
    width: 100%;
}

.about__decor-img {
    position: absolute;
}

.about__decor-img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-img:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__decor-img:nth-child(5) {
    right: 19px;
    bottom: 150px;
}

.about__decor-img:nth-child(6) {
    right: -24px;
    bottom: -40px;
}

.about__decor-img:nth-child(7) {
    right: -33px;
    bottom: -47px;
}

.about__decor-img:nth-child(8) {
    right: -42px;
    bottom: -55px;
}

.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #FF5B2E;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 18px;
}

.tab__title {
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #48496A;
}

.tab__contents {
    padding-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__content-more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    color: #FF5D31;
}

.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}

/* ============== Service ============== */
.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #FFF6ED;
}

.service__top {
    text-align: center;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 65px;
}

.service-item+.service-item {
    margin-top: 24px;
}

.service-item {
    width: 294px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: var(--white-color);
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    font-family: Sora, sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: #000958;
}

.service-item__heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    inset: 0 auto 0 0;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#FF5B2E, #FFA187);
}

.service-item__desc {
    width: 244px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 1.71;
    color: #656689;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396A;
}

.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    margin: 1px 0 0 6px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    position: absolute;
    content: "";
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
    border-radius: 10px;
}

.service__img {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.service__cta {
    min-width: 214px;
    color: #FF5B2E;
    border-color: currentColor;
}

/* ============== Staff ============== */
.staff {
    padding: 130px 0;
}

.staff__desc,
.staff__heading {
    text-align: center;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__img-wrap::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 94%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    position: relative;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    z-index: 1;
}

.staff-item__title {
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.staff-item__name {
    margin-top: 14px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta {
    min-width: 193px;
    color: #FF5B2E;
    border-color: currentColor;
}

/* ============== Pricing ============== */
.pricing {
    padding: 86px 0;
    background: #FFF6ED;
}

.pricing__container {
    width: 994px;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.pricing__switch {}

.pricing__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid #FF5B2E99;
    user-select: none;
    cursor: pointer;
}

.pricing__switch-label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    background: #FF5B2E;
    border-radius: inherit;
    transition: ease 0.25s;
}

.pricing__switch-value {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: var(--white-color);
}

.pricing__switch-input:checked+.pricing__switch-label::before {
    /* width: 131px;
    left: auto;
    right: 0; */
    left: 100%;
    transform: translateX(-100%);
}

.pricing__switch-input:not(:checked)+.pricing__switch-label .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked+.pricing__switch-label .pricing__switch-value:nth-of-type(1) {
    color: #FF5B2E;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: var(--white-color);
}

.pricing-item__type {
    font-size: 1.2rem;
    line-height: 1;
    color: #FF5B2E;
}

.pricing-item__heading {
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #3F4065;
}

.pricing-item__price {
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
    color: #000958;
}

.pricing-item__btn {
    --height: 44px;
    margin-top: 22px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.60);
    color: #FF5B2E;
    background: transparent;
}

/* .pricing-item__btn:hover {
    background: #FF5B2E;
    color: var(--white-color);
} */

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.pricing-item__item::before {
    content: url(../icons/pricce-check.svg);
    margin-right: 14px;
}

.pricing-item--active {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

/* ============== Review ============== */
.review {
    padding: 53px 0;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.preview__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #FFD1C4;
    background: transparent;
    color: #FF5B2E;
}

.preview__control:hover {
    color: var(--white-color);
    background: #FF5B2E;
    border-color: #FF5B2E;
    cursor: pointer;
}

.review__content {}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
}

.review-item__media {
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
    margin-top: -52px;
}

.review-item__media::after {
    position: absolute;
    content: "";
    height: 82%;
    top: auto;
    right: 0;
    left: 0;
    bottom: 0;
    background: #FFDA54;
    border-radius: inherit;
}

.review-item__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.review-item__content {}

.review-item__quote {
    width: 553px;
    margin-top: 24px;
    font-size: 1.8rem;
    line-height: 1.56;
    color: var(--black-color);
}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: #282828;
}

.review-item__author::before {
    display: inline-block;
    content: "";
    margin-right: 8px;
    width: 20px;
    height: 2px;
    background: var(--black-color);
    border-radius: 1px;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #FF5B2E;
}

.review__dot:hover {
    background: #FF5B2E;
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background: #FF5B2E;
}